{% extends 'base.html' %}
{% block title %}Інформація про будинок{% endblock %}
{% block content %}
<h2> {{house.name}} </h2>
<ul>
  <li class="list-group-item"><strong>Інформація про будинок:</strong> {{ house.info }}</li>
  <li class="list-group-item"><strong>Адрес:</strong> {{ house.address }}</li>
  <li class="list-group-item"><strong>Країна:</strong> {{ house.country }}</li>
  <li class="list-group-item"><strong>Площа:</strong> {{ house.square }}</li>
  <li class="list-group-item"><strong>Кількість кімнат:</strong> {{ house.room_count }}</li>
  <li class="list-group-item"><strong>Кількість людей:</strong> {{ house.people_count }}</li>
  <li class="list-group-item"><strong>Ціна за добу:</strong> {{ house.price_by_day }}</li>
  <li class="list-group-item"><strong>Рейтинг:</strong> {{ house.rating }}</li>
</ul>
{% endblock %}